<div id="toolbar-container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button id="custom1-button" value="1">C1</button>
        <button id="custom2-button" value="1">B</button>
        <button id="custom3-button" value="1">-</button>
        <button id="title-button" value="1">title</button>
        <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button>

        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>
        <button class="ql-link"></button>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
        <button class="ql-save" title="save"></button>
        <button id="open-panel">open</button>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div id="scrolling-container">
                <div id="quill-container">
                    <title>this is the title</title>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, deserunt repudiandae maxime eligendi, eaque quibusdam non voluptatum, veritatis corporis natus ab modi cumque placeat distinctio sequi quos. Quaerat, nesciunt officia?</p>
                </div>
            </div>
        </div>
    </div>
</div>