<div class="cd-panel__container">
    <header class="cd-panel__header">
        <div class="header-container flex-container">
            <div class="flex-item">
                <div>title goes here</div>
            </div>
            <div class="flex-item">
                <button id="close-panel">close</button>
            </div>
        </div>
    </header>

    <div class="cd-panel__content">
        <div>
            begin
            <div class="block-placeholder"></div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maiores eum voluptatibus culpa ut
                    impedit repellat quasi eaque nam aliquid ea quibusdam, illum voluptatem modi voluptatum velit nulla
                    et
                    distinctio.
                </p>
                <div class="block-placeholder"></div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis hic vel voluptates, qui possimus
                    consequuntur, exercitationem asperiores veniam doloremque quae nam necessitatibus quidem dolorem.
                    Quo
                    rerum
                    quas laborum explicabo praesentium.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis hic vel voluptates, qui possimus
                    consequuntur, exercitationem asperiores veniam doloremque quae nam necessitatibus quidem dolorem.
                    Quo
                    rerum
                    quas laborum explicabo praesentium.
                </p>
            </div>
            <div class="block-placeholder"></div>
            end
        </div>

    </div> <!-- cd-panel__content -->
</div> <!-- cd-panel__container -->