<div class="cd-panel__container">

    <header class="cd-panel__header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button id="close-panel" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </nav>
    </header>

    <div class="cd-panel__content">

        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>A 2 cols layout in the panel</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, veritatis nobis ad facilis ratione
                    quisquam dicta minima, exercitationem corporis repellendus, voluptatum sint non tenetur repellat
                    sequi quam maxime similique ullam.
                </div>
                <div class="col">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, iure quia, placeat excepturi aut
                    eum libero a culpa voluptates soluta nulla fugiat explicabo sint. In dolorem fuga quod a velit?
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>



                    <div>
                        begin
                        <div class="block-placeholder"></div>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maiores eum voluptatibus
                                culpa ut
                                impedit repellat quasi eaque nam aliquid ea quibusdam, illum voluptatem modi voluptatum
                                velit nulla
                                et
                                distinctio.
                            </p>
                            <div class="block-placeholder"></div>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis hic vel voluptates,
                                qui possimus
                                consequuntur, exercitationem asperiores veniam doloremque quae nam necessitatibus
                                quidem dolorem.
                                Quo
                                rerum
                                quas laborum explicabo praesentium.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis hic vel voluptates,
                                qui possimus
                                consequuntur, exercitationem asperiores veniam doloremque quae nam necessitatibus
                                quidem dolorem.
                                Quo
                                rerum
                                quas laborum explicabo praesentium.
                            </p>
                        </div>
                        <div class="block-placeholder"></div>
                        end
                    </div>

                </div>
            </div>
        </div>



    </div> <!-- cd-panel__content -->
</div> <!-- cd-panel__container -->